.slide-containerSponsor {
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.each-slideSponsor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 30%;
}

.imageSponsor {
  height: 200px;
  width: auto;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .imageSponsor {
    width: 70%;
  }
  .each-slideSponsor {
    height: 120px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .slide-containerSponsor {
    width: auto;
    margin: auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
