.info {
  width: auto;
  margin: 5px;
  background-color: rgb(48, 135, 50);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.news {
  width: 70%;
  background-color: rgb(22, 104, 22);
  margin: 5px;
  border-radius: 20px;
}

.calender {
  width: 30%;
  background-color: rgb(22, 104, 22);
  margin: 5px;
  border-radius: 20px;
}

.titleCalendar {
  font-size: 40px;
  color: white;
  border-bottom-style: solid;
  border-width: 3px;
  margin: 10px;
}

@media (max-width: 768px) {
  .info {
    width: 100%;
    margin: 0;
  }

  .info div {
    width: 95%;
    padding: 5px;
    display: block;
  }
}
