.inschrijven {
  width: auto;
  margin: 5px;
  background-color: rgb(48, 135, 50);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.uitlegDiv {
  width: auto;
  margin: 15px;
  background-color: rgb(48, 135, 50);
  padding: 15px;
  border-radius: 10px;
}

.enrollFormTitle {
  border-top-style: solid;
  padding: 15px;
  color: white;
}

h3 {
  color: white;
  margin-left: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .inschrijven {
    display: block;
  }
}
